.Back
  .User
    .User__image
      = link_to '#' do
        = image_tag 'bg-appBanner-pict.jpg', alt: 'sample'
      .User__name
        = link_to '#' do 
          = "湯沢さん"
    .User__introduction
      %h2 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .User__item
      %h1 この出品者の商品