.ShowItems {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 1px 0 50px;
  .Main {
    width: 700px;
    height: 100%;
    margin: 50px auto;
    background-color: white;
    &Container {
      padding: 20px 0;
      background-color: #ffffff;
      &__title {
        h1 {
          padding: 8px 0;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
        }
      }
      &__item {
        display: flex;
        justify-content: space-around;
        &__image {
          width: 320px;
          height: 320px;
          background-color: #f5f5f5;
          &__box {
            width: 100%;
            height: 200px;
              .Image {
                vertical-align: bottom;
                width:320px;
                height:200px;
              }
          }
          .Image__sub {
            vertical-align: bottom;
            width:320px;
            height:120px;
            &--pict {
              width:55px; 
              height:60px;
            }
          }
        }
        &__table {
          width: 300px;
          table.TableBody{
            width: 100%;
            tr{
              width: 100%;
              a {
                color: #0099e8;
              }
              th {
                width: 39%;
                background: #f5f5f5;
                border: 1px solid #e8ebe7;
                font-size: 13px;
                padding: 8px 10px;
              }
              td {
                width: 61%;
                background: #fff;
                border: 1px solid #e8ebe7;
                font-size: 13px;
                padding: 5px 10px;
              }
              #categories{
                width: 61%;
                background: #fff;
                border: 1px solid #e8ebe7;
                font-size: 13px;
                padding: 5px 10px;
                a{
                  display: inline-block;
                  display: block;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
      &__pricebox {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        height: 46px;
        .price {
          padding: 3px 8px 3px 0;
          font-size: 40px;
        }
        .tax {
          padding: 25px 5px 3px 0;
          font-size: 13px;
        }
        .fee_side {
          padding: 20px 5px 3px 0;
          font-size: 18px;
        }
      }
      &__actions {
        text-align: center;
        margin-top: 24px;
        &--btn {
          width: 650px;
          border: 1px solid #ea352d;
          border-radius: 4px;
          background: #ea352d;
          font-size: 23px;
          font-weight: bold;
          letter-spacing: 7px;
          line-height: 40px;
          text-align: center;
          a {
            color: #fff;
          }
        }
      }
      &__description {
        &--text {
          width: 650px;
          margin: 20px 24px 0;
          padding: 10px;
        }
      }
      &__EditDelete{
        display:flex;
        justify-content: space-between;
        &--edit {
          border-radius: 4px;
          background:red;
          border:1px solid red;
          width:50%;
          font-weight:bold;
          line-height:40px;
          margin:10px 20px;
          text-align:center;
          a{
            color:#fff;
            letter-spacing:3px;
          }
         }
        &--delete {
          border-radius: 4px;
          background:red;
          border:1px solid red;
          width:50%;
          font-weight:bold;
          line-height:40px;
          margin:10px 20px;
          text-align:center;
          a{
            color:#fff;
            letter-spacing:3px;
          }
        
        }
      }   
    }
    .show__items{
      .show-item {
        display:flex;
        justify-content: space-between;
      }   
    }    
  }
}