.Sell{
  background-color: #F5F5F5;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  &Top{
    height: 120px;
    width: 100vw;
    padding: 40px;
    &__icon{
      text-align: center;
      &--img{
        width: 100%;
        display: block;
        width: 140px;
        margin: auto;
      }
    }
  }

  &Main{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    &Form{
      background-color: #fff;
      &Container{
        border: solid 1px #F5F5F5;
        padding: 40px;
        &__title{
          display: flex;
          justify-content: start;
          align-items: center;
          margin-bottom: 16px;
          &--text{
            font-weight: bold;
            font-size: 14px;
          }
          &--require{
            margin-left: 10px;
            font-size: 12px;
            background-color: #ff0211;
            color: white;
            font-weight: bold;
            padding: 0 4px;
          }
        }
        &__note{
          margin: 16px 0;
          font-size: 14px;
        }
        &__img {
          &__dropBox0{
            height: 160px;
            background-color: #F5F5F5;
            border: dashed 1px #cccccc;
            text-align: center;
            &__label{
              &__icon{
                font-size: 28px;
                display: flex;
                justify-content: center;
                margin-top: 40px;
              }
              &__input{
                display: none;
              }
            }
            &__text{
              font-size: 12px;
              margin: 10px 0;
            }
          }
        }
        &__itemName{
          height: 50px;
          &__field{
            height: 50px;
            width: 100%;
            padding: 0 16px;
            border: solid 1px #cccccc;
            border-radius: 4px;
            font-size: 16px;
          }
        }
        &__itemExplanation{
          &__field{
            width: 100%;
            height: 160px;
            padding: 13px 16px;
            border: solid 1px #cccccc;
            border-radius: 4px;
            font-size: 16px;
          }
        }
        &__wordCount{
          text-align: right;
          margin-top: 14px;
          color: #888;
          font-size: 12px;
        }
        &__subTitle{
          font-size: 14px;
          font-weight: bold;
          color: #888888;
          margin-bottom: 30px;
        }
        &__select{
          margin-bottom: 20px;
          &__area{
            margin-bottom: 20px;
            &__wrapper{
              margin-bottom: 20px;
              &__box{
                &--select{

                }
              }
            }
          }
          &__field{
            background-color: #fff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            height: 50px;
            width: 100%;
            padding: 0 56px 0 16px;
            margin-bottom: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: image-url("icon_arrow.png");
            background-repeat: no-repeat;
            background-size: 30px 15px;
            background-position: right 30px center;
          }
        }
        &__price{
          display: flex;
          justify-content: start;
          align-items: center;
          margin-bottom: 16px;
          height: 50px;
          &__title{
            font-weight: bold;
            font-size: 14px;
          }
          &__require{
            margin-left: 10px;
            font-size: 12px;
            background-color: #ff0211;
            color: #fff;
            font-weight: bold;
            padding: 0 4px;
          }
          &__ennMark{
            margin: 0 0 0 auto;
          }
          &__number{
            height: 50px;
            width: 280px;
            margin: 0 0 0 10px;
            padding: 0 16px;
            border: solid 1px #cccccc;
            border-radius: 4px;
            text-align: right;
          }
        }
        &__tax{
          padding: 12px 0;
          display: flex;
          justify-content: space-between;
        }
        &__bar{
          border: solid 0.5px #F5F5F5;
        }
        &__btn{
          margin: 30px auto;
          width: 360px;
          text-align: center;
          &__submit{
            width: 100%;
            height: 45px;
            background-color: #ea352d;
            color: #fff;
            border: solid 0px black;
            border-radius: 4px;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 30px;
          }
          &__draft{
            width: 100%;
            height: 45px;
            background-color: #cccccc;
            color: #222222;
            border: solid 0px black;
            border-radius: 4px;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 30px;
          }
          &__back{
            color: #0095ee;
            
          }
        }
        &__note{
          padding: 0 20px;
          &__text{
            font-size: 12px;
          }
        }
      }
    }
  }

  &Bottom{
    padding: 40px 0;
    &Contents{
      text-align: center;
      margin-bottom: 40px;
      &__lists{
        display: flex;
        justify-content: center;
        font-size: 12px;
        &__list{
          margin: 0 20px;
        }
      }
    }
    &Logo{
      height: 50px;
      text-align: center;
      &--img{
        height: 40px;
        
      }
    }
    &__copyright{
      text-align: center;
      font-size: 12px;
    }
  }
}

.SellMainFormContainer__img__dropBox0{
  width: 100%;
}
.SellMainFormContainer__img__dropBox1{
  width: 491px;
}
.SellMainFormContainer__img__dropBox2{
  width: 363px;
}
.SellMainFormContainer__img__dropBox3{
  width: 234px;
}
.SellMainFormContainer__img__dropBox4{
  width: 106px;
}
//下段のfile_field
.SellMainFormContainer__img__dropBox5{
  width: 100%;
}
.SellMainFormContainer__img__dropBox6{
  width: 491px;
}
.SellMainFormContainer__img__dropBox7{
  width: 363px;
}
.SellMainFormContainer__img__dropBox8{
  width: 234px;
}
.SellMainFormContainer__img__dropBox{
  width: 106px;
}
