= render 'template/header'
.SearchItems
  .Main
    .MainContainer
      .MainContainer__header
        %p.result 
          = @items.name
        %h2 検索結果
      .MainContainer__field
        - @items.each do |item|
          = render 'item', item: item
= render 'template/footer'